Gemfile.lock
vendor/ruby
.bundle/config
.bundle/install.log
.idea
*.iml
.project
spec/dummy

*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp